.logincontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px ;
  /* background-color: rgb(81, 255, 0); */
  background-image: url(image3.png);
  background-size: cover;
  margin-left: 350px;
  margin-bottom: 200px;
  border:1px solid;
  box-shadow: 0px 4px 16px 0px;
  border-radius: 10px;
}
.heading{
  font-size: 20px;
  margin-bottom: 3000px;
}
input{
  border-radius: 5px;
  padding: 10px;
}
.button{
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
  background-image: url(image3.png);
  width:100px
}

.adminlogin{
  
 background-image: url(image3.png);
  height: 550px;
  background-size: cover;
  width: 1300px;
}

.errormsg{
  margin-left: 350px;
  font-size: 50px;
}

.hea{
  margin-left: 600px;
}