.b{
    padding: 5px;
    border-radius: 5px;
    margin-left: 3px;
    background-image: url(image10.png);
}
.submit{
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    background-image: url(image10.png);
}
.skip{
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    background-image: url(image10.png);
}
.label{
    border: 1px;
    padding: 5px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}