.user-details{
    /* background-color:pink; */
    background-image: url(image7.png);
    background-size: cover;
}
.user-links{
   font-size: 30px;
   margin-left: 40px;
   text-decoration: none;
}

/* .heading1{
    margin-top: 200px;
    margin-left: 200px;
}  */
.total{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.main-div{
    /* background-color: rgb(0, 217, 255); */
    background-image: url(image7.png);
    background-size: cover;
    height: 550px;
}
.home{
    padding: 6px;
    border-radius: 8px;
    background-color: antiquewhite;
}
.react,.html,.js,.css{
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
   padding: 5px;
   background-image: url(images8.png);
}
.html{
   
}