.innerdetails{
    background-image:url(image1.png);
    background-size: cover;
}
.green1{
    padding:5px;
    border-radius: 4px;
    background-image: url(image1.png);
}
.green2{
    padding:5px;
    border-radius: 4px;
    background-image: url(image1.png);
    margin-left: 10px;
}
.links1{
     margin-top: 100px;
     margin-left: 500px;
     padding: 10px;
}
.dashcontainer{
    /* background-color: chocolate; */
    background-image: url(image4.png);
    height: 600px;
    background-size: cover;
}
.l{
    text-decoration: none;
}