.admin-details{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeMZxTAcqTpT_BOGi7ujgFav3w46vWM4FFZw&s");
   background-size: cover;
}
.action{
    margin-left: 500px;
    margin-bottom: 200px;
}
.con{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeMZxTAcqTpT_BOGi7ujgFav3w46vWM4FFZw&s");
    background-size: cover;
    height: 550px;
}