.admin-details{
   background-image: url();
   background-size: cover;
}
.action{
    margin-left: 500px;
    margin-bottom: 200px;
}
.con{
    background-image: url();
    background-size: cover;
    height: 550px;
}