.maindiv{
 background-image: url(image5.png);
 background-size: cover;
}

.box {
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  
}
.box1{
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 6px 6px 6px 4px lightgrey;
}
.admindetails{
  background-image: url(image6.png);
  background-size: cover;
}
.boxx{
  padding: 6px;
  background-image: url(image5.png);
  border-radius: 5px;
  background-size: cover;
}

