.background{
    background-image: url(image2.png);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px ;
    background-image: url(image2.png);
}
.heading{
    font-size: 20px;
}
input{
    border-radius: 5px;
    padding: 10px;
}
.createbutton{
    padding: 10px;
    border-radius: 10px;
    margin-left: 40px;
    background-image: url(image2.png);
}
.signuppage{
   background-image: url(image2.png);
    background-size: cover;
    width: 1300px;
}
  .errormsg{
    margin-left: 350px;
    font-size: 50px;
  }